@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
}

@mixin flex($justify-content: center, $align-items: center) {
	display: flex;
	justify-content: $justify-content;
	align-items: $align-items;
}
.wrapper {
	@include flex;
	height: 100vh;
	margin: 0;
}

.content {
	height: 530px;
	width: 900px;
	padding: 50px;
	border: 1px solid black;
	text-align: center;
	background: rgb(71, 22, 187);
	background: linear-gradient(
		0deg,
		rgba(71, 22, 187, 0.46551120448179273) 0%,
		rgba(211, 101, 114, 0.7652310924369747) 14%,
		rgba(84, 53, 188, 0.7288165266106443) 94%
	);

	.icons {
		margin-bottom: 20px;
		&__item {
			font-size: 45px;
			margin: 0 5px;
			cursor: pointer;
		}

		.pause {
			display: none;
		}
	}

	.set-time {
		display: none;
		align-items: center;
		justify-content: center;
		width: 100%;

		.hours {
			height: 40px;
			width: 120px;
			padding: 3px 10px;
			outline: none;
			border: none;
			border-radius: 5px;
			font-size: 20px;
			text-align: center;
			margin-right: 5px;
		}

		.set-btn {
			width: 60px;
			height: 35px;
			margin-left: 5px;
			color: #fff;
			cursor: pointer;
			background-color: rgb(175, 155, 222);
			border: 1px solid rgb(122, 98, 177);
			border-radius: 6px;
		}
	}
}

.timer {
	@include flex;
	color: #fff;
	flex-direction: column;

	&__head {
		width: 700px;
		font-size: 12px;
		margin-bottom: 30px;
	}

	&__title {
		font-size: 30px;
		font-weight: 400;
		text-transform: uppercase;
		margin-bottom: 18px;
		word-spacing: 10px;
	}

	&__body {
		@include flex(space-around);
		width: 800px;
		height: 200px;
		margin-bottom: 5px;

		.timer__dots {
			@include flex(space-between);
			flex-direction: column;
			margin-bottom: 45px;
			height: 50px;

			.dot {
				height: 7px;
				width: 7px;
				display: block;
				background-color: #fff;
			}
		}
	}

	&__item {
		@include flex(space-between);
		flex-direction: column;
		height: 170px;

		.box {
			@include flex;
			height: 130px;
			width: 100px;
			background-color: #fff;
			border-radius: 10px;
		}

		.numbers {
			@include flex(space-between);
			color: #000;
			font-size: 75px;
			width: 215px;
		}
	}
}

.warn {
	background-color: #f8d7da;
	color: #721c24;
	padding: 8px 12px;
	border: 1px solid #f5c6cb;
	border-radius: 8px;
	margin-top: 10px;
	font-size: 17px;
	font-weight: 600;
	text-align: center;
	display: inline;
	width: 450px;
}
